$ancho-menu: 70px;

header{
    text-align: center;
    border-bottom: 4px solid #171c66;
    img{
        width: 240px;
        padding: 5px;
        @media #{$medium-and-down} {
        	width: 170px;
		    margin-top: 5px;
        }
    }
    margin-bottom: 20px;
    @media #{$medium-and-down} {
    	margin-bottom: 10px;
    }
}