include mixin

-var produccion= ambientetrabajado

block variables

doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		block metas
		link(rel="shortcut icon" href=(basePath || '/') +"imagenes/logo-shield.png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		header
			img(src="/imagenes/logo-eduboston.png", alt="").logo


		main( class='eduboston')
			block seccion

		footer
			.container
				.row
					.col.s12.l4.offset-l1.logo
						.col.s12.l6.img.hide-on-med-and-down
							img(src="/imagenes/logo-shield.png", alt="")
						.col.s12.l6
							p.title EDUBOSTON
							P 161 Harvard Ave. Suite 13A <br> Aliston, MA 02134
							p 617-1117 <br> contact@eduboston.com
					.col.s12.l4.offset-l2.logo
						p EDUBOSTON MEXICO <br> Clark Egnor <br> Campos Eliseos 188 piso 2 oficina 201 <br> Colonia Polanco, CP:11560
						p Tel. +52(55)5283-2441 ext 208
				.legales
					img(src="/imagenes/csiet-white.png", alt="").hide-on-med-and-down
					p  EduBoston is honored to have full compliance with CSIET certified standards recognizing our commitment to providing students with safe and welcoming homes.
				.row
					.col.s12.l6.copy
						a(href="") Copyright 2018 EDUBOSTON. All rights reserved 
					.col.s12.l6.redes.hide
						ul
							li
								a(href="")
									span.icon.fb
							li
								a(href="")
									span.icon.tw
							li
								a(href="")
									span.icon.isnt
							li
								a(href="")
									span.icon.in
							li
								a(href="")
									span.icon.you

		link(rel="stylesheet" href= (basePath || '/') + 'css/estilos.css')
		script(src= (basePath || '/') + 'js/scripts.js' async)

